node-red/flows.json
[{"id":"71195223.7cf2b4","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"16dd8813.e2f73","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard"},{"id":"e8f5ca08.389b68","type":"ui_group","z":"","name":"Computer","tab":"16dd8813.e2f73","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc66d346.743328","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Theme","default":"#4B7930","baseColor":"#4caf50","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4caf50","value":"#4caf50","edited":true},"page-titlebar-backgroundColor":{"value":"#4caf50","edited":true},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#d3d3d3","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#4caf50","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Lunchbox λ Dashboard","hideToolbar":"true","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":50,"sy":40,"gx":15,"gy":15,"cx":0,"cy":0,"px":10,"py":0}}},{"id":"8d170bbc.ee5cb","type":"ui_group","z":"","name":"Recipe Status","tab":"16dd8813.e2f73","order":4,"disp":false,"width":"6","collapse":false},{"id":"2ff6ee55.0c7aa2","type":"ui_group","z":"","name":"Temperature","tab":"16dd8813.e2f73","order":3,"disp":false,"width":"6","collapse":false},{"id":"e6ab57de.94675","type":"ui_group","z":"","name":"Humidity","tab":"16dd8813.e2f73","order":5,"disp":false,"width":"6","collapse":false},{"id":"173e5918.a38be7","type":"ui_group","z":"","name":"Environment","tab":"16dd8813.e2f73","order":2,"disp":false,"width":"6","collapse":false},{"id":"9620c1b6.ad346","type":"lunchbox","z":"71195223.7cf2b4","serverHost":"","x":240,"y":160,"wires":[["a02d982c.7c7fc8","93cbe707.b51c88"]]},{"id":"5f99b7c1.032aa","type":"inject","z":"71195223.7cf2b4","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["9620c1b6.ad346"]]},{"id":"a02d982c.7c7fc8","type":"debug","z":"71195223.7cf2b4","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":40,"wires":[]},{"id":"93cbe707.b51c88","type":"switch","z":"71195223.7cf2b4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"connectivity","vt":"str"},{"t":"eq","v":"computer","vt":"str"},{"t":"eq","v":"environment-list","vt":"str"},{"t":"eq","v":"environments","vt":"str"},{"t":"eq","v":"recipes","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":370,"y":300,"wires":[[],["5f623f05.f62b78","874b3d5b.4efb48"],["cad5386.0fad148"],["a051275f.f8962","7657be.7e4a3044"],["cadef412.6eded"]]},{"id":"5f623f05.f62b78","type":"ui_text","z":"71195223.7cf2b4","group":"e8f5ca08.389b68","order":1,"width":"0","height":"0","name":"computer name","label":"Name","format":"{{msg.payload.name}}","layout":"row-spread","x":620,"y":40,"wires":[]},{"id":"874b3d5b.4efb48","type":"ui_text","z":"71195223.7cf2b4","group":"e8f5ca08.389b68","order":3,"width":0,"height":0,"name":"computer localtime","label":"Time","format":"{{msg.payload.localTime | date:'HH:mm'}}","layout":"row-spread","x":630,"y":80,"wires":[]},{"id":"a2c7a02d.0f555","type":"ui_gauge","z":"71195223.7cf2b4","name":"recipe progress","group":"8d170bbc.ee5cb","order":2,"width":0,"height":0,"gtype":"gage","title":"Recipe Progress","label":"percent","format":"{{msg.payload.progress}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":340,"wires":[]},{"id":"cadef412.6eded","type":"function","z":"71195223.7cf2b4","name":"recipe selector","func":"if (typeof msg.payload === 'string') {\n    this.environment = msg.payload;\n} else {\n    this.recipes = msg.payload;\n}\n\nif (!this.environment || !this.recipes) return null;\nconst recipe = this.recipes[this.environment];\nmsg.payload = recipe;\nmsg.topic = 'recipe';\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["43794932.94eed","aa525668.ebc1d"]]},{"id":"e993fc26.388608","type":"ui_template","z":"71195223.7cf2b4","group":"e8f5ca08.389b68","name":"styles","order":0,"width":0,"height":0,"format":"<style>\n\n* {\n    color: rgba(0, 0, 0, 0.87) !important;\n}\n\n.nr-dashboard-text {\n    \n}\n\np.nr-dashboard-cardtitle {\n    font-size: 1.2em;\n    font-weight: 500;\n    max-height: 31px;\n    min-height: 31px;\n    margin-top: 10px;\n    margin-bottom: 8px;\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":110,"y":260,"wires":[[]]},{"id":"cad5386.0fad148","type":"ui_template","z":"71195223.7cf2b4","group":"e8f5ca08.389b68","name":"environments","order":0,"width":"6","height":"6","format":"<script>\n    (function($scope) {\n        $scope.select = function(environment) {\n            $scope.selected = environment;\n            $scope.send({ payload: environment });\n        }\n    })(scope)\n</script>\n\n<style>\n    .environment-list {\n        \n    }\n    .environment-item {\n        outline: none;\n        padding: 10px;\n        cursor: pointer;\n    }\n    .environment-item.selected {\n        background: #E0E0E0;\n    }\n    .environment-item i {\n        color: #4CAF50 !important;\n    }\n</style>\n\n<p class=\"nr-dashboard-cardtitle\">Environments</p>\n<div class=\"environment-list\">\n    <div\n        class=\"environment-item\"\n        ng-class=\"selected === environment ? 'selected' : ''\"\n        ng-repeat=\"environment in msg.payload\"\n        ng-click=\"select(environment)\"\n    >\n        <i class=\"fa fa-fw fa-leaf\"></i>\n        {{environment}}\n    </div>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":620,"y":120,"wires":[["cadef412.6eded","a051275f.f8962"]]},{"id":"2549d90c.426e1e","type":"ui_chart","z":"71195223.7cf2b4","name":"temperature","group":"2ff6ee55.0c7aa2","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1070,"y":380,"wires":[[],[]]},{"id":"cd6e1084.ab052","type":"ui_chart","z":"71195223.7cf2b4","name":"humidity","group":"e6ab57de.94675","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1060,"y":420,"wires":[[],[]]},{"id":"f66c6d5.f714f9","type":"ui_text","z":"71195223.7cf2b4","group":"173e5918.a38be7","order":1,"width":0,"height":0,"name":"environment name","label":"Environment","format":"{{msg.payload.environment}}","layout":"row-spread","x":1090,"y":180,"wires":[]},{"id":"a051275f.f8962","type":"function","z":"71195223.7cf2b4","name":"environment selector","func":"if (typeof msg.payload === 'string') {\n    this.environment = msg.payload;\n} else {\n    this.environments = msg.payload;\n}\n\nif (!this.environment || !this.environments) return null;\nconst environment = this.environments[this.environment];\nmsg.payload = environment;\nmsg.topic = 'environment';\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["aa525668.ebc1d"]]},{"id":"43794932.94eed","type":"function","z":"71195223.7cf2b4","name":"recipe","func":"var progress = (msg.payload.progress * 100).toFixed(1);\n\nmsg.payload = {\n    recipeId: msg.payload.recipeId,\n    progress: isNaN(progress) ? 0.0 : progress\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":340,"wires":[["a2c7a02d.0f555"]]},{"id":"54b4e494.bb58e4","type":"ui_template","z":"71195223.7cf2b4","group":"173e5918.a38be7","name":"environment details","order":4,"width":0,"height":0,"format":"<style>\n    .environment-details {\n        display: flex;\n        justify-content: space-around;\n    }\n</style>\n\n<div class=\"environment-details\">\n    <div>\n        <i class=\"fa fa-thermometer-half\"></i>\n        <span ng-bind=\"msg.payload.sensorReadings.air_temperature\"></span>\n        <span>/</span>\n        <span ng-bind=\"msg.payload.sensorReadings.water_temperature\"></span>\n        <span>°C</span>\n    </div>\n    <div>\n        <i class=\"fa fa-tint\"></i>\n        <span ng-bind=\"msg.payload.sensorReadings.air_humidity\"></span>\n        <span>%</span>\n    </div>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1100,"y":300,"wires":[[]]},{"id":"aa525668.ebc1d","type":"function","z":"71195223.7cf2b4","name":"environment","func":"if (msg.topic === 'environment')\n    this.environment = msg.payload;\n\nif (msg.topic === 'recipe')\n    this.recipe = msg.payload;\n\nif (!this.environment || !this.recipe)\n    return;\n\nvar recipeStatus = null;\nswitch(this.recipe.status) {\n    case 0: recipeStatus = 'empty'; break;\n    case 3: recipeStatus = 'running'; break;\n    case 4: recipeStatus = 'paused'; break;\n    case 5: recipeStatus = 'stopped'; break;\n    case 6: recipeStatus = 'finished'; break;\n    case 7: recipeStatus = 'error'; break;\n}\n\nmsg.payload = {\n    recipeId: this.recipe.recipeId,\n    recipeStatus: recipeStatus,\n    environment: this.environment.environment,\n    sensorReadings: {\n        air_temperature: 22.5,\n        water_temperature: 19.3,\n        air_humidity: 62.3\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["f66c6d5.f714f9","54b4e494.bb58e4","46e5a5d0.80e85c","20092656.43a10a"]]},{"id":"46e5a5d0.80e85c","type":"ui_text","z":"71195223.7cf2b4","group":"173e5918.a38be7","order":3,"width":0,"height":0,"name":"environment recipe id","label":"Recipe ID","format":"{{msg.payload.recipeId}}","layout":"row-spread","x":1100,"y":220,"wires":[]},{"id":"20092656.43a10a","type":"ui_text","z":"71195223.7cf2b4","group":"173e5918.a38be7","order":2,"width":0,"height":0,"name":"environment recipe status","label":"Recipe Status","format":"{{msg.payload.recipeStatus}}","layout":"row-spread","x":1120,"y":260,"wires":[]},{"id":"ebf2b120.cf81f","type":"function","z":"71195223.7cf2b4","name":"humidity","func":"msg.payload = [{\n    \"series\": [\n        \"\",\"\",\"air_humidity\"\n    ],\n    \"data\": [\n        [],\n        [],\n        [\n            { \"x\": \"2018-05-20T18:00:00\", \"y\": 62.5 },\n            { \"x\": \"2018-05-20T19:00:00\", \"y\": 58.9 },\n            { \"x\": \"2018-05-20T20:00:00\", \"y\": 60.1 },\n            { \"x\": \"2018-05-20T21:00:00\", \"y\": 57.8 },\n            { \"x\": \"2018-05-20T22:00:00\", \"y\": 57.0 },\n            { \"x\": \"2018-05-20T23:00:00\", \"y\": 56.1 },\n            { \"x\": \"2018-05-21T00:00:00\", \"y\": 58.3 },\n            { \"x\": \"2018-05-21T01:00:00\", \"y\": 56.9 },\n            { \"x\": \"2018-05-21T02:00:00\", \"y\": 55.7 },\n            { \"x\": \"2018-05-21T03:00:00\", \"y\": 58.6 },\n            { \"x\": \"2018-05-21T04:00:00\", \"y\": 57.9 },\n            { \"x\": \"2018-05-21T05:00:00\", \"y\": 55.3 },\n            { \"x\": \"2018-05-21T06:00:00\", \"y\": 54.1 },\n            { \"x\": \"2018-05-21T07:00:00\", \"y\": 52.9 },\n            { \"x\": \"2018-05-21T08:00:00\", \"y\": 55.4 },\n            { \"x\": \"2018-05-21T09:00:00\", \"y\": 57.8 },\n            { \"x\": \"2018-05-21T10:00:00\", \"y\": 58.0 },\n            { \"x\": \"2018-05-21T11:00:00\", \"y\": 58.2 },\n            { \"x\": \"2018-05-21T12:00:00\", \"y\": 59.6 },\n            { \"x\": \"2018-05-21T13:00:00\", \"y\": 58.1 },\n            { \"x\": \"2018-05-21T14:00:00\", \"y\": 60.3 },\n            { \"x\": \"2018-05-21T15:00:00\", \"y\": 61.4 },\n            { \"x\": \"2018-05-21T16:00:00\", \"y\": 62.2 },\n            { \"x\": \"2018-05-21T17:00:00\", \"y\": 60.7 },\n            { \"x\": \"2018-05-21T18:00:00\", \"y\": 61.9 },\n        ]\n    ],\n    \"labels\": [\"\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":420,"wires":[["cd6e1084.ab052"]]},{"id":"6c0d8fd6.0fc33","type":"function","z":"71195223.7cf2b4","name":"temperature","func":"msg.payload = [{\n    \"series\": [\n        \"air_temperature\", \"water_temperature\"\n    ],\n    \"data\": [\n        [\n            { \"x\": \"2018-05-20T18:00:00\", \"y\": 22 },\n            { \"x\": \"2018-05-20T19:00:00\", \"y\": 21 },\n            { \"x\": \"2018-05-20T20:00:00\", \"y\": 19 },\n            { \"x\": \"2018-05-20T21:00:00\", \"y\": 18 },\n            { \"x\": \"2018-05-20T22:00:00\", \"y\": 16 },\n            { \"x\": \"2018-05-20T23:00:00\", \"y\": 16 },\n            { \"x\": \"2018-05-21T00:00:00\", \"y\": 15 },\n            { \"x\": \"2018-05-21T01:00:00\", \"y\": 14 },\n            { \"x\": \"2018-05-21T02:00:00\", \"y\": 15 },\n            { \"x\": \"2018-05-21T03:00:00\", \"y\": 14 },\n            { \"x\": \"2018-05-21T04:00:00\", \"y\": 16 },\n            { \"x\": \"2018-05-21T05:00:00\", \"y\": 17 },\n            { \"x\": \"2018-05-21T06:00:00\", \"y\": 17 },\n            { \"x\": \"2018-05-21T07:00:00\", \"y\": 19 },\n            { \"x\": \"2018-05-21T08:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T09:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T10:00:00\", \"y\": 21 },\n            { \"x\": \"2018-05-21T11:00:00\", \"y\": 23 },\n            { \"x\": \"2018-05-21T12:00:00\", \"y\": 24 },\n            { \"x\": \"2018-05-21T13:00:00\", \"y\": 22 },\n            { \"x\": \"2018-05-21T14:00:00\", \"y\": 23 },\n            { \"x\": \"2018-05-21T15:00:00\", \"y\": 24 },\n            { \"x\": \"2018-05-21T16:00:00\", \"y\": 24 },\n            { \"x\": \"2018-05-21T17:00:00\", \"y\": 23 },\n            { \"x\": \"2018-05-21T18:00:00\", \"y\": 22 },\n        ],\n        [\n            { \"x\": \"2018-05-20T18:00:00\", \"y\": 19 },\n            { \"x\": \"2018-05-20T19:00:00\", \"y\": 19 },\n            { \"x\": \"2018-05-20T20:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-20T21:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-20T22:00:00\", \"y\": 21 },\n            { \"x\": \"2018-05-20T23:00:00\", \"y\": 21 },\n            { \"x\": \"2018-05-21T00:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T01:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T02:00:00\", \"y\": 21 },\n            { \"x\": \"2018-05-21T03:00:00\", \"y\": 21 },\n            { \"x\": \"2018-05-21T04:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T05:00:00\", \"y\": 19 },\n            { \"x\": \"2018-05-21T06:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T07:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T08:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T09:00:00\", \"y\": 21 },\n            { \"x\": \"2018-05-21T10:00:00\", \"y\": 21 },\n            { \"x\": \"2018-05-21T11:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T12:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T13:00:00\", \"y\": 19 },\n            { \"x\": \"2018-05-21T14:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T15:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T16:00:00\", \"y\": 20 },\n            { \"x\": \"2018-05-21T17:00:00\", \"y\": 19 },\n            { \"x\": \"2018-05-21T18:00:00\", \"y\": 19 },\n        ]\n    ],\n    \"labels\": [\"\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":380,"wires":[["2549d90c.426e1e"]]},{"id":"7657be.7e4a3044","type":"function","z":"71195223.7cf2b4","name":"environment history","func":"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":380,"wires":[["6c0d8fd6.0fc33","ebf2b120.cf81f"]]}]